extends layout

block content
    div(ng-controller='ProductCtrl')
        p
            button.btn.btn-success(ng-click='addNewDialog()')
                span.glyphicon.glyphicon-plus
                | New product
        .list-group(ng-if='products && products.length')
            a.list-group-item.clearfix(href='#', ng-repeat='item in products')
                img.col-md-3.col-sm-3.img-responsive(ng-src='{{item.photo}}')
                .col-md-9.con-sm-9
                    h4.list-group-item-heading {{item.title}}
                    p.list-group-item-text {{item.description}}
        .well.well-lg.text-center(ng-if='!products.length')
            | You don't have products now. Try to
            a(href='#', ng-click='addNewDialog()') create new product
