doctype html
html(ng-app='ProdApp')
    head
        base(href='/')
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.js')
        script(src='https:////ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-cookies.js')
        script(src='./socket.io/socket.io.js')
        script(src='./javascripts/socket.min.js')
        script(src='./javascripts/app.js')
        script(src='./javascripts/controllers.js')
        script(src='./javascripts/services.js')
        script(src='./javascripts/directives.js')
    body(ng-controller='MainCtrl')
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    a.navbar-brand(href='/') Product List
                .navbar-collapse
                    .navbar-right
                        span(ng-if='user.username') Hi, {{user.username}} 
                        a.btn.btn-warning.navbar-btn(href='#', ng-click="logout()", ng-if='user.username') Log out
        .container-fluid
            .row(ng-if='serverErrors.length')
                .alert(ng-class='alert.type', ng-init='alert.type = "alert-" + alert.type', ng-repeat='alert in serverErrors') {{alert.message}}
                    button.close(type='button', data-dismiss='alert', aria-label='Close')
                        span(aria-hidden='true') x
                span(ng-init='autoHideMessages()')
            .row(ng-view)
